/.metadata/

# Java
*.class
*.log
*.java~

# BlueJ
*.ctxt
package.bluej
bluej.pkg

#Documentos
*.doc
*.docx

# Astah
*.bak
*.lock
*.tmp

# Eclipse
.classpath
.project

#Carpeta doc que no se sube
doc/
bin/
ProyectoFinal/
sprites/
.settings/
.vscode/
